* {
  margin: 0;
  padding: 0;
}

.forum {
  text-align: center;
}

.forum-navbar-top {
  height: 1px;
  transform: translateY(50px);
}

.forum-navbar {
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 80vw;
  height: 5vh;
  background-color: gray;
  transition: transform 0.3s ease;
  top: 0;
  display: flex;
  align-items: center;
}
.forum-navbar img {
  border: 2px black solid;
  height: 50%;
  margin: 2px;
}
.forum-navbar a {
  text-decoration: none;
  color: white;
  margin: 2px;
  text-transform: uppercase;
  animation: SlideFadeIn 2s;
}
.forum-navbar a:hover {
  cursor: pointer;
}
@keyframes SlideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

.full-width {
  position: sticky;
  width: 100vw;
  border-bottom: 2px white solid;
}

.forum-category {
  width: 80vw;
  background-color: red;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  margin-bottom: 2vh;
}
.forum-category .top {
  background-color: cadetblue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 2vh;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 1vh;
  text-align: left;
}
.forum-category .content {
  background-color: white;
  border: 4px solid black;
  min-height: 100px;
  border-color: cadetblue;
}

.forum-category-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 0;
}
.forum-category-item .icon {
  width: 30px;
  height: 10px;
  padding: 5px;
}
.forum-category-item .title {
  width: 60%;
  text-align: left;
  padding-top: 5px;
  font-weight: bold;
  font-size: small;
}
.forum-category-item .title a {
  color: black;
  text-decoration: none;
}
.forum-category-item .title a:hover {
  color: red;
  cursor: pointer;
}
.forum-category-item .title .description {
  color: gray;
}
.forum-category-item .details {
  width: 10%;
  border-right: 1px solid gray;
  font-size: smaller;
}
.forum-category-item .details:nth-child(4) {
  border-right: none;
}
.forum-category-item .last-post {
  width: 30%;
}

.section-header {
  text-align: right;
  width: 80vw;
  margin: auto;
  padding: 10px 0;
}
.section-header .title {
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.section-header .title .pageButtons {
  background-color: blue;
  margin-left: 10px;
  width: 15px;
  height: 20px;
  background-color: lightgray;
  color: white;
  border: 1px black solid;
  font-size: x-large;
  text-align: center;
}
.section-header .title .pageButtons:hover {
  cursor: pointer;
}
.section-header .topic-button {
  width: 120px;
  height: 40px;
  margin: 0 10px;
  background-color: cadetblue;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}
.section-header .topic-button:hover {
  cursor: pointer;
}

.forum-section {
  width: 80vw;
  background-color: cadetblue;
  min-width: 100px;
  margin: auto;
}
.forum-section .section-item {
  display: flex;
  flex-direction: row;
  background-color: #cefafa;
  max-width: 100%;
  min-height: 5vh;
  color: black;
  border: 2px solid gray;
  border-top: none;
  align-items: center;
}
.forum-section .section-item .icon {
  width: 30px;
  height: 5vh;
}
.forum-section .section-item .title {
  text-align: left;
  width: 60%;
  height: 5vh;
}
.forum-section .section-item .title .date {
  color: gray;
}
.forum-section .section-item a {
  color: black;
  text-decoration: none;
}
.forum-section .section-item a:hover {
  color: red;
  cursor: pointer;
}
.forum-section .section-item .details {
  width: 30%;
  height: 5vh;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.forum-section .section-item .small-details {
  width: 5%;
  height: 5vh;
  border-right: 1px solid gray;
}
.forum-section .section-item .small-details:last-child {
  border-right: none;
}

.forum-post {
  width: 80vw;
  min-height: 200px;
  background-color: white;
  padding-bottom: 2%;
  border-bottom: 2px black solid;
  display: flex;
  flex-wrap: wrap;
}
.forum-post .title {
  min-width: 100%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0px;
  background-color: cadetblue;
  color: white;
}
.forum-post .author {
  width: 10%;
  height: 100%;
  min-height: 150px;
  background-color: cadetblue;
  text-transform: uppercase;
  margin: 0;
}
.forum-post .author img {
  height: 100px;
  height: 100px;
}
.forum-post .body {
  width: 90%;
  min-height: 150px;
  background-color: white;
  text-align: left;
  font-size: large;
}
.forum-post .body code,
.forum-post .body .code,
.forum-post .body pre {
  font-family: "Source Code Pro";
  background: #292929;
  color: #fafafa;
  font-size: 16px;
  padding: 0;
  padding: 10px;
}
.forum-post .body code:before,
.forum-post .body .code:before,
.forum-post .body pre:before {
  display: block;
  width: 100%;
  margin-left: -3px;
  margin-top: -3px;
  padding: 3px;
  text-transform: uppercase;
  content: attr("scss");
  background: #9baecf;
}
.forum-post .body code .o,
.forum-post .body .code .o,
.forum-post .body pre .o {
  color: orange;
}
.forum-post .body code .w,
.forum-post .body .code .w,
.forum-post .body pre .w {
  color: white;
}
.forum-post .body img {
  max-height: 25%;
  max-width: 100%;
  transition: transform 0.5s ease;
}
.forum-post .body img:hover {
  max-height: 100%;
  transform: scale(1.5);
  border: 4px black solid;
}

.reply-area {
  margin: auto;
  padding-top: 20px;
  width: 80%;
}
.reply-area textarea {
  width: 100%;
  resize: vertical;
  font-size: large;
}
.reply-area .post-button {
  width: 120px;
  height: 40px;
  margin: 0 10px;
  background-color: cadetblue;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}
.reply-area .post-button:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  bottom: 0;
}
.footer .link-bar {
  width: 100%;
  height: 30%;
  background-color: gray;
  border-top: 4px cadetblue solid;
  border-bottom: 4px cadetblue solid;
  position: absolute;
  bottom: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: white;
}

.nav {
  width: 80vw;
  height: 30px;
  background-color: white;
  text-align: center;
  padding: 10px 0 10px 0;
  transform: translate(10%, 40px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}

.nav-item {
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-color: gray;
  height: 100%;
  width: 100px;
  font-weight: bold;
  font-size: 24px;
  color: gray;
  transition: 0.3s ease;
  float: left;
  text-decoration: none;
}
.nav-item:hover {
  color: orange;
  transition: 0.3s ease;
  cursor: pointer;
}
.nav-item:last-child {
  border-right: none;
}

.nav-user {
  font-weight: bold;
  font-size: 24px;
  color: gray;
  float: left;
  text-transform: uppercase;
}

.nav-right {
  float: right;
}

#background-video {
  position: fixed;
  min-width: 100%;
  height: 600px;
  right: 0;
  top: 0;
  z-index: -2;
  object-fit: cover;
}

.section {
  min-width: 100%;
  right: 0;
  top: 0;
  text-align: center;
}
.section h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
.section .center-logo {
  margin-top: 15vmin;
  width: 50%;
}
.section button {
  width: 250px;
  height: 40px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 5px 20px;
  font-weight: bold;
  color: black;
  transition: all 0.3s ease;
  max-width: 100%;
}
.section button:hover {
  background-color: red;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
.modal-main input {
  width: 50%;
  height: 40px;
  margin: 5px;
  font-size: 16px;
}
.modal-main input:invalid {
  border: red dotted 2px;
}
.modal-main .close {
  position: fixed;
  top: 0;
  right: 0;
  width: 3%;
  min-width: 2rem;
  border: 1px solid black;
}

button {
  transition: transform 0.25s ease;
}
button:active {
  transform: translateY(5px);
}

/*# sourceMappingURL=style.css.map */
