*{
  margin: 0;
  padding: 0;
}

.forum{
 text-align: center;
}

.forum-navbar{
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 80vw;
  height: 5vh;
  background-color: gray;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  img{
    border: 2px black solid;
    height: 50%;
    margin: 2px;
  }
  a{
    text-decoration: none;
    color: white;
    margin: 2px;
    text-transform: uppercase;
    animation: SlideFadeIn 2s;

    &:hover{
      cursor: pointer;
    }
  }

  @keyframes SlideFadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      opacity: 1;

    }
  }

}


.forum-category {
  width: 80vw;
  background-color: red;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  margin-bottom: 2vh;

  .top{
    background-color: cadetblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 2vh;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 1vh;
    text-align: left;

  }

  .content{
    background-color: white;
    border: 4px solid black;
    min-height: 100px;
    border-color: cadetblue;
  }
}

.forum-category-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 0;

  .icon {
    width: 30px;
    height: 10px;
    padding: 5px;
  }

  .title{
    width: 60%;

    text-align: left;
    padding-top: 5px;
    font-weight: bold;
    font-size: small;

    a{
      color: black;
      text-decoration: none;
      &:hover{
      color: red;
      cursor: pointer;
      }
    }

    .description{
      color: gray;
    }

  }

  .details{
    width: 10%;
    border-right: 1px solid gray;
    font-size: smaller;

    &:nth-child(4) {
      border-right: none;
    }

  }

  .last-post{
    width: 30%;
  }
}

.section-header{
    text-align: right;
    width: 80vw;
    margin: auto;
    padding: 10px 0;

  .title{
    text-align: left;
    text-transform: uppercase;
  }

  .topic-button{
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background-color: cadetblue;
    font-weight: bold;
    text-transform: uppercase;
    border: none;

    &:hover{
      cursor: pointer;
    }
  }
}

.forum-section{
  width: 80vw;
  background-color: cadetblue;
  min-width: 100px;
  margin: auto;

  .section-item{
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 250, 250);
    max-width: 100%;
    min-height: 5vh;
    color: black;
    border: 2px solid gray;
    border-top: none;
    align-items: center;


    .icon {
      width: 30px;
      height: 5vh;

    }

    .title{
      text-align: left;
      width: 60%;
      height: 5vh;

      .date{
        color: gray;
      }
    }

    a{
      color: black;
      text-decoration: none;
      &:hover{
      color: red;
      cursor: pointer;
      }
    }

    .details{
      width: 30%;
      height: 5vh;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
    }

    .small-details{
      width: 5%;
      height: 5vh;
      border-right: 1px solid gray;

      &:last-child{
        border-right: none;
      }
    }
  }
}

.forum-post{
  width: 80vw;
  min-height: 200px;
  background-color: white;
  padding-bottom: 2%;
  border-bottom: 2px black solid;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;

  .title{
    min-width: 100%;
    height: 15%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: cadetblue;
    color: white;

  }

  .author{
    width: 10%;
    background-color: cadetblue;
    text-transform: uppercase;
    margin: 0;

    img{
      height: 100px;
      height: 100px;
    }
  }


  $lightGray: #fafafa;
  $medBlue: #9baecf;
  $char: #292929;

  .body{
    width: 90%;
    background-color: white;
    text-align: left;
    font-size: large;

    code,
    .code,
    pre {
      font-family: 'Source Code Pro';
      background: $char;
      color: $lightGray;
      font-size: 16px;
      padding: 0;
      padding: 10px;
      &:before {
        display: block;
        width: calc(100%);
        margin-left: -3px;
        margin-top: -3px;
        padding: 3px;
        text-transform: uppercase;
        content: attr('scss');
        background: $medBlue;
      }
      .o {
        color: orange;
      }
      .w {
        color: white;
      }
    }

    img{
      max-height: 25%;
      max-width: 100%;
      transition: transform 0.5s ease;

      &:hover{
        max-height: 100%;
        transform: scale(1.5);
        border: 4px black solid;
      }
    }
  }
}

.reply-area{
  margin: auto;
  padding-top: 20px;
  width: 80%;

  textarea{
    width: 100%;
    resize: vertical;
    font-size: large;
  }


  .post-button{
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background-color: cadetblue;
    font-weight: bold;
    text-transform: uppercase;
    border: none;

    &:hover{
      cursor: pointer;
    }

  }
}

.footer{
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  bottom: 0;

  .link-bar{
    width: 100%;
    height: 30%;
    background-color: gray;
    border-top: 4px cadetblue solid;
    border-bottom: 4px cadetblue solid;
    position: absolute;
    bottom: 20px;
    padding-left: 10px;

    display: flex;
    align-items: center;
  }
}
